# Advent of Code Day 2

In [1]:
## Set notebook to auto reload updated modules
from __future__ import annotations

%load_ext autoreload
%autoreload 2

In [2]:
import json
from pathlib import Path

import pandas as pd

In [3]:
from aoc_mod.utils import file_utils, nb_utils

In [4]:
df = pd.DataFrame([{"name": "Test", "age": 23}, {"name": "Test2", "age": 35}])
df

    name  age
0   Test   23
1  Test2   35

In [5]:
nb_utils.display_df_without_index(df=df)